<!DOCTYPE gui SYSTEM "kpartgui.dtd">
<gui name="kdevverapp" version="9">
<MenuBar>
  <Menu name="analyze">
  <text context="@title:menu">Analyze</text>
    <Separator/>
    <Action name="verapp_file"/>
    <Action name="verapp_project"/>
    <Separator/>
  </Menu>
</MenuBar>
</gui>
