<!DOCTYPE gui SYSTEM "kpartgui.dtd">
<gui name="kdevverapp" version="10">
<MenuBar>
  <Menu name="code">
    <Menu name="analyze_file">
      <Action name="verapp_file"/>
    </Menu>
    <Menu name="analyze_project">
      <Action name="verapp_project"/>
    </Menu>
  </Menu>
</MenuBar>
</gui>
